 </div>
 </div>
 <div class="footer">
 	<div class="content">
 		{% if page.previous != nil %}
 		<div class= "post">
 			<a class="post-link" href="{{ page.previous.url }}">
 				<span class="date">READ NEXT</span>
 				<h1>{{ page.previous.title }}</h1>
 				<!-- <span class="date">{{ page.date | date_to_long_string }}</span> -->
			    <p>{{page.previous.content | truncate: 300}}</p>
			    <p>
			      <a class="btn-read" href="{{ page.previous.url }}">CONTINUE READING</a>
  				</p>
  			</a>
  		</div>
  		{% endif %}
<br/>
<center><span style="font-family:Lato,sans-serif;color:#cccccc">© 2014 Nikhil Buduma. All rights reserved. Suscribe <a style='text-decoration:underline;color:#cccccc' href='http://nikhilbuduma.com/feed.xml'>via RSS</a>.</span></center>
</div>
 </div>
  </body>
</html>
