<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/personal.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<!--<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		<div class="pure-g top-section">
		    <div class="pure-u-1 pure-u-lg-5-12 pure-u-md-5-12 face-section">Hi</div>
		    <div class="pure-u-1 pure-u-lg-7-12 pure-u-md-7-12"><p>Half</p></div>
		</div>
		<script async src="https://static.medium.com/embed.js"></script><a class="m-collection" href="https://medium.com/hackathon-adventures">Hackathon Adventures</a>
	</body>
</html>